* {
    background-color: #78ce9f;
}
header {
    background-color: #78ce9f;
    color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    padding: 10px;
}
nav ul {
    display: flex;
}

nav li {
    margin-left: 20px;
}
 .destaque {
 display: grid;
 flex-wrap: wrap;
 justify-content: space-between;
 margin: 20px; 
}
.destaque-item {
    flex: 1 1 30%;
    margin-bottom: 20px;
    background-color: #78ce9f;
}
.destaque-item img {
    width: 90%;
    background-color: #78ce9f;
}
footer {
        background-color: purple;
        color:rgb(255, 255, 255);
        text-align: center;
        padding: 10px;
}
   
    