* {
    background-color: #78ce9f;
}
header {
    background-color: #78ce9f;
    color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    padding: 10px;
}
nav ul {
    display: flex;
}

nav li {
    margin-left: 20px;
}
 .destaque {
 display:inline-block;
 flex-wrap: wrap;
 justify-content:center;
margin: 50px; 
}

.destaque2{
display: inline-block;
flex-wrap: wrap;
justify-content:center;
margin: 50px; 
}
.destaque-item1 {
    flex: 1 1 100%;
    margin-bottom: 20px;
    background-color: #78ce9f;
}
.destaque-item2 {
    flex: 1 1 100%;
    margin-bottom: 20px;
    background-color: #78ce9f;
}
.destaque-item img {
    width: 900%;
    background-color: #78ce9f;
}
footer {
        background-color: purple;
        color:rgb(255, 255, 255);
        text-align: center;
        padding: 10px;
}

* {
    font-family: 'Fira Sans', sans-serif;
   }
   
